<div class="container">
    <div class="d-flex justify-content-center my-5">
        <form [formGroup]="formGroup">
            <h2>Register</h2>
            <mat-form-field class="w-100">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" />
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" />
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Repeat password</mat-label>
                <input
                    matInput
                    formControlName="repeatPassword"
                    type="password" />
            </mat-form-field>
            <div class="d-flex justify-content-end">
                <button mat-flat-button (click)="submit()">Submit</button>
            </div>
        </form>
    </div>
</div>
