<header class="header-background">
    <div class="header-section">
        <img
            ngSrc="diamond.svg"
            width="520"
            height="520"
            alt="Diamond"
            class="header-image" />
        <h1>Simplico</h1>
        <h2>Take Control of Your Finances Easily</h2>
        <div class="header-start">
            @if (user(); as user) {
                Hello, {{ user.username }}!
            } @else {
                @defer {
                    <button mat-flat-button routerLink="/login">Log In</button>
                    <button
                        class="ms-2"
                        mat-raised-button
                        routerLink="/register">
                        Register
                    </button>
                }
            }
        </div>
    </div>
</header>
<main class="home-section">
    <div>
        <h2>High quality</h2>
        Streamlined and intuitive tools to simplify personal finance management.
        Secure, reliable, and optimized for seamless performance.
    </div>

    <div>
        <h2>Versatile</h2>
        Streamlined and intuitive tools to simplify personal finance management.
        Secure, reliable, and optimized for seamless performance.
    </div>

    <div>
        <h2>Frictionless</h2>
        Designed to integrate effortlessly into your daily life. Start fresh or
        improve your current financial management habits with ease.
    </div>
</main>
